---
import TopRoundedPaper from './TopRoundedPaper.astro';
import WeddingPage from './WeddingPage.astro';
---

<WeddingPage>
  <TopRoundedPaper>
    <span slot="title">연락처</span>
    <div class="flex flex-col justify-center gap-16">
      <div>
        <h3>신부측</h3>
        <div class="flex flex-row">
          <ul class="w-4/5 bg-slate-300 p-2">
            <li class="h-8">신부 누구누구 00</li>
            <li class="h-8">아버님 누구누구 00</li>
            <li class="h-8">어머님 누구누구 00</li>
          </ul>
          <button class="w-1/5 bg-red-500"> 축의금</button>
        </div>
      </div>
      <div>
        <h3>신랑측</h3>
        <div class="flex flex-row">
          <ul class="w-4/5 bg-slate-300 p-2">
            <li class="h-8">신랑 누구누구 00</li>
            <li class="h-8">아버님 누구누구 00</li>
            <li class="h-8">어머님 누구누구 00</li>
          </ul>
          <button class="w-1/5 bg-red-500"> 축의금</button>
        </div>
      </div>
    </div>
  </TopRoundedPaper>
</WeddingPage>

<style></style>
