---
import WeddingPage from "./WeddingPage.astro";
---

<WeddingPage>
  <div class="m-8 p-12 bg-slate-200 h-5/6 rounded-t-full text-center">
    <a class="link link-primary text-4xl mb-8" href="/post" id="door-to-post">방명록으로 가기</a>
  </div>
</WeddingPage>

<style>
  h1 {
    font-size: 8rem;
    writing-mode:tb-rl;
    text-orientation:upright;
  }
</style>