---
import WeddingPage from "./WeddingPage.astro";
---

<WeddingPage>
  <div class="m-8 p-12 bg-slate-200 h-5/6 rounded-t-full text-center">
    <h2 class="text-4xl mb-8">인사말</h2>
    <p class="text-2xl">소중한 두 인연이 만나 이렇게 결실을 맺게 되었사오니, 어서 오셔서 부부의 앞날을 축복해주시길 바랍니다.</p>
  </div>
</WeddingPage>

<style>
</style>