---
import TopRoundedPaper from "./TopRoundedPaper.astro";
import WeddingPage from "./WeddingPage.astro";
---

<WeddingPage>
  <TopRoundedPaper>
    <span slot="title">소개</span>
    
    <div class="flex flex-row justify-between grow gap-8">
      <div class="w-full bg-opacity-50">
        <div class="half-circle bg-slate-200 rounded-l-full w-full">
          
        </div>
        <p> 백년가약을 맺는 찬민</p>
      </div>
      <div class="w-full bg-opacity-50">
        <p class="h-32"> 백년가약을 맺는 찬민</p>
        <div class="half-circle bg-slate-200 rounded-r-full w-full">
          
        </div>
      </div>
    </div>
  </TopRoundedPaper>
</WeddingPage>

<style>
  .half-circle {
    aspect-ratio: 0.5;
  }
</style>