---
import WeddingPage from "./WeddingPage.astro";
---

<WeddingPage>
  <h1>백년가약</h1>
</WeddingPage>

<style>
  h1 {
    font-size: 8rem;
    writing-mode:tb-rl;
    text-orientation:upright;
  }
</style>