---
import WeddingPage from "./WeddingPage.astro";
---

<WeddingPage>
  <div class="h-full flex justify-center align-middle text-center">
    <h1>백년가약</h1>
  </div>
</WeddingPage>

<style>
  h1 {
    font-size: 8rem;
    writing-mode:tb-rl;
    text-orientation:upright;
  }
</style>