---
// const { upBgColor, bgColor } = Astro.props;
---

<div class="bg-slate-200 h-full">
  <div class="flex flex-col bg-pink-300 h-full rounded-t-full text-center p-16">
    <h2 class="text-4xl mb-8">
      <slot name="title" />
    </h2>
    <slot />
  </div>
</div>