---
import BottomNav from "../layouts/BottomNav.astro";
import Layout from "../layouts/Layout.astro";
import PhoneLayout from "../layouts/PhoneLayout.astro";
---

<Layout title="차밍의 백년가약 : 인사말">
  <PhoneLayout>
    <span slot="title" class="text-xl">인사말</span>
    내용
  </PhoneLayout>
  <BottomNav>
    <a slot="footer-right-button" href="/post" class="btn btn-ghost w-full">방명록</a>
  </BottomNav>
</Layout>