---
import BottomNav from "../layouts/BottomNav.astro";
import Layout from "../layouts/Layout.astro";
import PhoneLayout from "../layouts/PhoneLayout.astro";
---

<Layout title="차밍의 백년가약">
	<PhoneLayout>
		<button slot="nav-left-button" class="btn btn-square btn-ghost">
			햄버거
		</button>
		<span slot="title" class="text-xl">百年佳約</span>
		<button slot="nav-right-button" class="btn btn-square btn-ghost">
			프로필
		</button>
    내용
  </PhoneLayout>
	<BottomNav>

    <div slot="footer-right-button">
      <a href="/greeting" class="btn btn-ghost w-full">인사말</a>
    </div>
	</BottomNav>
</Layout>

<style>
	:root {
		--astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
		font-family: "Pretendard";
	}
</style>
