---
import Layout from "../layouts/Layout.astro";
import LandingPage from "../components/LandingPage.astro";
import GreetingPage from "../components/GreetingPage.astro";
import IntroductionPage from "../components/IntroductionPage.astro";

---

<Layout title="차밍의 백년가약">
	<div class="wedding-pages-container">
		<LandingPage />
		<GreetingPage />
		<IntroductionPage />
	</div>
</Layout>

<style>
	.wedding-pages-container {
		scroll-snap-type: y proximity;
		height: 100vh;
		overflow-y: auto;
	}
</style>
