---
import Layout from "../layouts/Layout.astro";
import Counter from '../components/Counter';
---

<Layout title="Welcome to Rabbit Hole.">
    <h1>Rabbit!</h1>
</Layout>

<style>
	h1 {
		margin: 2rem 0;
	}
</style>