---
import Layout from "../layouts/Layout.astro";
import PhoneLayout from "../layouts/PhoneLayout.astro";
import PostPage from "../post/PostPage";
---

<Layout title="차밍의 백년가약">
	<PhoneLayout>
		<span slot="title" class="text-xl">방명록</span>
		<PostPage client:load />
	</PhoneLayout>
</Layout>
