---
import WeddingPage from 'src/components/WeddingPage.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="차밍의 백년가약">
  <WeddingPage>
    <h1>방명록</h1>
    <a href="/#door-to-post">돌아가기</a>
  </WeddingPage>
</Layout>
