<footer class="flex flex-row flex-none">
  <div class="flex-1">
    <a class="btn btn-ghost w-full">약도보기</a>
  </div>
  <div class="flex-1">
    <slot name="footer-right-button">
      <a href="/greeting" class="btn btn-ghost w-full">인사말</a>
    </slot>
  </div>
</footer>