---
import BackArrowIcon from "../components/icons/BackArrowIcon.astro";
import HomeIcon from "../components/icons/HomeIcon.astro";

---

<nav class="navbar flex-none">
  <div class="flex-none">
    <slot name="nav-left-button">
      <div class="tooltip tooltip-bottom" data-tip="뒤로가기">
        <button class="btn btn-square btn-ghost" aria-label="뒤로가기">
          <BackArrowIcon />
          <!-- TODO: 방명록 일 때 만 등장. -->
        </button>
      </div>
    </slot>
  </div>
  <div class="flex-1 flex justify-center">
    <slot name="title">
      <span class="text-xl">百年佳約</span>
      <!-- TODO: 로고를 클릭하면 메인화면으로 가기. -->
    </slot>
  </div>
  <div class="flex-none">
    <slot name="nav-right-button">
      <div class="tooltip tooltip-bottom" data-tip="홈으로 가기">
        <a href="/" class="btn btn-square btn-ghost" aria-label="홈으로 가기">
          <HomeIcon />
        </a>
      </div>
    </slot>
  </div>
</nav>
<main class="flex-auto p-0 w-full h-5/6 relative">
  <slot />
</main>

<style is:global>
  .tooltip::before {
    z-index: 10;
  }
</style>