---
import HamburgerIcon from "../components/icons/HamburgerIcon.astro";
import HomeIcon from "../components/icons/HomeIcon.astro";

---

<nav class="navbar bg-red-500">
  <div class="flex-none">
    <slot name="nav-left-button">
      <div class="tooltip tooltip-bottom" data-tip="프로필">
        <button class="btn btn-square btn-ghost" aria-label="프로필">
          <HamburgerIcon />
        </button>
      </div>
      
    </slot>
  </div>
  <div class="flex-1 flex justify-center">
    <slot name="title">
      <span class="text-xl">百年佳約</span>
    </slot>
  </div>
  <div class="flex-none">
    <slot name="nav-right-button">
      <div class="tooltip tooltip-bottom" data-tip="홈으로 가기">
        <a href="/" class="btn btn-square btn-ghost" aria-label="홈으로 가기">
          <HomeIcon />
        </a>
      </div>
    </slot>
  </div>
</nav>
<main class="p-4 shadow-lg bg-blue-500 w-full h-full relative">
  <slot />
</main>

<style is:global>
  .tooltip::before {
    z-index: 10;
  }
</style>